#Latex files 
*.aux
*.fdb_latexmk
*.fls  
*.log
*.synctex.gz

*.lock
*.toml
*.exe
target/

#VSCode
.vscode/

#Other files
A bounded path propagator on directed graphs - paper.pdf
dpath_code.txt
testfile.txt

testing/outputs/
testing/dzn-inputs/
testing/rust-inputs/
testing/cp-dense-graphs/
testing/dp-dense-graphs/